@model IEnumerable<EmprestimosModel>


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Receptor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro</th>
            <th scope="col">Última Atualização</th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null)
        {
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
            </tr>
        }


    </tbody>
</table>